body, html {
	height: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Amatic SC", sans-serif;
}

.menu {
	display: none;
}

.bgimg {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("headerImg.PNG");
    min-height: 90%;
}

#countdown-wrapper{
    font-size: 25px;
}

.chart {
  height: 300px;
}
